---
const { games, players } = Astro.props;

const statsMap = new Map<string, { wins: number; draws: number; losses: number }>();
for (const g of games)
{
	if (!statsMap.has(g.white)) statsMap.set(g.white, { wins: 0, draws: 0, losses: 0 });
	if (!statsMap.has(g.black)) statsMap.set(g.black, { wins: 0, draws: 0, losses: 0 });
	statsMap.get(g.white)!.wins += g.result === '1-0' ? 1 : 0;
	statsMap.get(g.white)!.draws += g.result === '1/2-1/2' ? 1 : 0;
	statsMap.get(g.white)!.losses += g.result === '0-1' ? 1 : 0;

	statsMap.get(g.black)!.wins += g.result === '0-1' ? 1 : 0;
	statsMap.get(g.black)!.draws += g.result === '1/2-1/2' ? 1 : 0;
	statsMap.get(g.black)!.losses += g.result === '1-0' ? 1 : 0;
}
const leaderboard = Array.from(statsMap.entries())
	.map(([name, { wins, draws, losses }]) => ({ name: players[name], wins, draws, losses }))
	.sort(
		(a, b) =>
			b.wins - a.wins ||
			a.losses - b.losses ||
			a.name.localeCompare(b.name),
	);

function getRankSymbol(rank)
{
    if (rank == 0) return '🥇';
    if (rank == 1) return '🥈';
    if (rank == 2) return '🥉';
    if (rank == leaderboard.length - 1) return '💩';

    return `${rank + 1}.`;
}
---

<section>
    <h2>Leaderboard</h2>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th align="center">Rank</th>
                    <th>Player</th>
                    <th align="center">Wins</th>
                    <th align="center">Draws</th>
                    <th align="center">Losses</th>
                </tr>
            </thead>
            <tbody>
                {
                    leaderboard.map((p, i) => (
                        <tr>
                            <td align="center">
                                <strong>
                                    {getRankSymbol(i)}
                                </strong>
                            </td>
                            <td>
                                <strong>{p.name}</strong>
                            </td>
                            <td align="center">{p.wins}</td>
                            <td align="center">{p.draws}</td>
                            <td align="center">{p.losses}</td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
</section>